table{
    table-layout:auto;
    border-collapse: collapse;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    border: none;
    /*
    style="width:1024px; height: 600px; table-layout:fixed"
     */
}

td {
    border: none;
    padding-left: 3px;
    padding-right: 3px;
}
tr {
    border: none;
    padding: 0;
}

.win {
    color: darkgreen;
    visibility: visible;
}
.nowin {
    color: darkgreen;
    visibility: hidden;
}
#field {
    margin-top: 10px;
}